.nome-destaque {
  background-color: yellowgreen;
  padding: 1rem;
}
.nome-destaque p {
  font-size: 1.3rem;
  text-align: center;
}
.nome-destaque p strong {
  color: darkolivegreen;
}
.add-product {
  border-top: 1px solid #000;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
